* {
    letter-spacing: normal;
}
h1 {
    font-family: "Oswald" !important;
}
.container {
    display: grid;
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
    background-color: #83967D;
    row-gap: 5rem;
}

.prof-pic {
    grid-column-start: 1;
    align-self: center;
    justify-self: flex-end;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    margin-right: 20rem;

}
.bio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    grid-column-start: 2;
    align-self: center;
    justify-self: start;
}
/* p {
    font-size: 1.8rem;
    color: #2D2D2D;
    font-weight: 500;
    letter-spacing: 2.5px;
} */

h2 {
    color: #2D2D2D;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
}
/* h3 {
    font-size: 2.8rem;
    color: #2D2D2D;
    margin-top: 2rem;
    text-transform: uppercase;
} */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blurb p {
    font-weight: 800;
    letter-spacing: 2.8px;
}
/* hr {
    border-top: 2px solid #2D2D2D;
    width: 45%;
    text-align: center;
    margin: 4rem 0 4rem 0;
} */