/* li {
    color: white;
    list-style-type: none;
    
} */
.soc-icon {
    height: 20px;
}
.soc-icon:hover {
    filter: color(black);
}

/* .nav-test {
    position:relative;
    background-image: url("../img/forest.jpg");
}
.test-nav-99 {
    position:relative;
    background-image: url("../img/forest.jpg");
} */


.nav-test-2 {
    position:relative;
    background-image : url('../img/mountains.jpg');
}