/* 00 Font imports */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* 01 Initalizers and Resets */

:root {
    font-size: 62.5%;
	--primary: dimgray;
	--secondary: gray;
}

body{
	font-size: 1.6rem;
    font-family: "Raleway";
	font-weight: 300;
	letter-spacing: 3.5px;
	 color: white;
	 background-color: #83967D;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.nav-link {
	color: white;
	text-decoration: none;
	font-size: 2.3rem;
	transition: all 0.2s;
}

.nav-link:hover {
	transition: all 0.2s;
	color: rgb(152, 152, 152);
}


/* Scrollbar styles */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--primary) var(--secondary);
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 12px;
  }
  
  *::-webkit-scrollbar-track {
	background: var(--primary);
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
  /*   background: repeating-linear-gradient(
	  45deg,
	  var(--secondary),
	  var(--secondary) 5px,
	  var(--primary) 5px,
	  var(--primary) 10px
	); */
	border-radius: 20px;
	border: 3px solid var(--primary);
  }

main {
    height: 100%;
}

